# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# OS files
.DS_Store

# Virtual Environment
myenv/

# Data and Vector DB
data/processed/
data/vectorstore/

# Secrets
.env

# Streamlit
.streamlit/
